extends layout

block content

  h1 #{title}

    h4 Books
    dl
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary}

    


    form(method='POST' action='')
        input(type='hidden' name='bookid' value=book._id)
        div.form-group
            button.btn.btn-primary(type='submit') Delete
